<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product\Attribute\Backend\Tierprice"
                type="Kos\CatalogExtend\Model\Product\Attribute\Backend\Tierprice" />
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Tierprice"
                type="Kos\CatalogExtend\Model\ResourceModel\Product\Attribute\Backend\Tierprice"/>
    <preference for="Magento\Catalog\Model\Product\Type\Price"
                type="Kos\CatalogExtend\Model\Product\Type\Price"/>
    <preference for="Magento\AdvancedPricingImportExport\Model\Import\AdvancedPricing"
                type="Kos\CatalogExtend\Model\Import\AdvancedPricing"/>
    <preference for="Magento\Catalog\Model\ResourceModel\Category"
                type="Kos\CatalogExtend\Model\ResourceModel\Category"/>

    <type name="Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\GroupPrice\AbstractGroupPrice">
        <plugin name="Kos_CatalogExtend::afterGetSelect"
                type="Kos\CatalogExtend\Plugins\Model\ResourceModel\Product\Attribute\Backend\GroupPrice\AbstractGroupPricePlugin"/>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="tierPriceCreator" xsi:type="string">Kos\CatalogExtend\Model\Product\Attribute\Backend\TierPrice\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="tierPriceUpdater" xsi:type="string">Kos\CatalogExtend\Model\Product\Attribute\Backend\TierPrice\UpdateHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
