<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="eghlgw" id="eghlgw">
            <module name="Eghl_PaymentMethod"/>
        </route>
        <route frontName="eghlapi" id="eghlapi">
            <module name="Eghl_PaymentMethod"/>
        </route>
    </router>
</config>