<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="search">
                <field id="elasticsearch6_minimum_should_match" translate="label" type="text" sortOrder="93" showInDefault="1">
                    <label>Minimum Terms to Match</label>
                    <depends>
                        <field id="engine">elasticsearch6</field>
                    </depends>
                    <comment><![CDATA[<a href="https://docs.magento.com/m2/ce/user_guide/catalog/search-elasticsearch.html">Learn more</a> about valid syntax.]]></comment>
                    <backend_model>Bss\ElasticsearchMinimumTerms\Model\Config\Backend\MinimumShouldMatch</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
