/*button#manual-filter,a#product-filter-clear {
    background: none;
    border: none;
    color: #E6552F;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    position: relative;
    padding-right: 24px;
}
button#manual-filter:after{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e90a";
    display: inline-block;
}
.plumrocket-product-filter.ppf-pos-toolbar .filter-options-item{
    border: 1px solid #E9E9EE !important;
    width: calc(16%);
    padding: 25px 25px 25px 25px;
}
.plumrocket-product-filter.ppf-pos-toolbar .filter-options-item .filter-options-title{
    font-family: 'tt_norms', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
    color: #878A9D;
}*/
